- if @reply.parent_id
  = render :partial => '/posts/reply_reply', :locals => {:reply => @reply.parent, :reply_reply => @reply}
- else
  = render :partial => '/posts/reply', :locals => {:reply => @reply}