$("li[data-tipe='Notification'][data-id='#{@notification.id}'] .notification_read_button_container").html("#{escape_javascript(notification_read_button(@notification))}");
$("span.notifications_count").html("#{escape_javascript((current_user.notifications_count - 1).to_s)}");