- provide :content do
 
  = render :partial => 'header', :locals => {:user => @user}

  %p
      
  .row
    .span7.offset2
      = 'Feed'  
    .span3
      %h3
        = 'Participated Cubes'
      %br/  

      - @user.participated_cubes.each do |cube|
        .well.white.slim
          = link_to cube.name, vanity_path(cube), :class => 'core'         