.navbar.navbar-fixed
  .navbar-inner
    .container
      = link_to image_tag('logo_navbar.png'), root_path, :class => 'brand'
      %ul.nav
        %li
          = link_to Rails.env, root_path, :class => 'text'
      %ul.nav.pull-right
        %li
          = link_to 'Login', root_path, :class => 'text'
