<div class ="navbar">
  <div class ="navbar-inner">
    <div class ="container">
      <div class ="row">
        <div class ="span12">
          <%= Rails.env %>
        </div>
      </div>
    </div>
  </div>
</div>