.div{:style => 'margin-top: 10px;'}
  %p
    %fb:like{:layout => "button_count", :show_faces => "true", :width => "75"}
  %p
    %a.twitter-share-button{"data-count" => "horizontal", "data-via" => "criticube", :href => "http://twitter.com/intent/tweet", "data-text" => "#{tweet}", "data-url" => "current_full_url"}