.div{:style => 'margin-top: 10px;'}
  %p
    %fb:like{:layout => "button_count", :width => "75", :send => 'false', :show_faces => 'false', :font => ''}

  %p
    %a.twitter-share-button{"data-count" => "horizontal", "data-via" => "criticube", :href => "http://twitter.com/intent/tweet", "data-text" => tweet, "data-url" => current_full_url}