//= require_self
@import "lib/bootstrap_and_overrides"
@import "lib/javascript_specific"
@import "bootstrap"

// TinyMCE override

span.mceEditor
  table.mceLayout
    border-radius: 3px !important
    -moz-border-radius: 3px !important
    -webkit-border-radius: 3px !important

body#tinymce
  margin: 8px !important

blockquote
  p
    font-size: $basefont !important

footer
  margin: 75px 0px 0px 0px
  background-color: #EEE  
  min-height: 256px 
  height: auto !important
  .container
    padding: 40px 0px 0px 0px