//= require_self
//= require_tree .

@import "lib/bootstrap_and_overrides"
@import "bootstrap"

.core, a.core, p.core, span.core
  font-weight: bold !important

.minor, a.minor, p.minor, span.minor
  font-size: 11px 

.blend a, a.blend, p.blend a, span.blend a
  color: $textColor
  
.left
  float: left

textarea.slim
  height: 40px  

ul.items
  padding: 0px 0px 0px 0px !important
  margin: 0px 0px 0px 0px !important
  list-style-type: none !important
  li
    list-style-type: none !important
    color: $textColor  