%li.cubecard.opacityhover.left{:data => {'id' => cube.id, 'tipe' => 'Cube'}}
  .pad
    = link_to(image_tag(cube.avatar_url), vanity_path(cube))
  .pad
    = link_to(short_string(cube.name, 17), vanity_path(cube), :class => 'big-text')
    .minor
      %span.follow_link_panel{:data => {"id" => cube.id, "tipe" => cube.class.to_s }}
        = follow_link(cube)